name: CI
on:
  push:
    branches:
      - master
jobs:
  CIJob:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Execute command
        run: echo "Hellow world from Staging!!!"

